.users-container__user-wrapper.active:after {
    content: ' <- это вы';
    color: #999;
    font-size: 14px;
}


.users-container__header {
    font-size: 14px;
    padding: 0.3em;
}

.users-container__user-wrapper {
    color: #12019a;
}