
.minor-content {
    color: #999;
}


.players-panel {
    display: flex;
    flex-flow: column;

    &__users {
        display: flex;
        justify-content: space-evenly;
    }
}

.players-panel__creator-name.active:after {
    content: ' <- это вы';
    color: #999;
    font-size: 14px;
}